# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Keil
*.d
*.crf
*.bak
*.zip
*.lst
*.map
*.sct
*.__i
*.html
*.txt
*.tra
*.Lnp
*.htm
*.dep
*.axf
*.lna
*.tra
*.jonathan*

# doxygen
*.png
*.fed
*.js
*._2i
*.l2p
*.css
*.xml
*.xsd
*.tex
*.sty
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.001